*{
    margin: 0px;
    padding: 0px;
    /* border-sizing:border-box; */


}
.main{
    height:100vh;
    width:100vw;
    overflow: hidden;

}
.nav{
    font-size: 25px;
    color:azure;
    list-style: none;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
margin:30px;

}
#jo{
    list-style: none;
    
}
.hkj{
    display:flex;
    gap:40px;
}
.j{
    font-size:30px;
}


.container{
    width:70%;
    margin:auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding:60px;
    list-style: circle !important;
    box-shadow:1px 20px 50px 30px black;
    border-radius: 20px;
    display: flex;
    gap:60px;
    overflow: hidden;
    
    
}
 
#lol{
    height:270px;
    width:270px;
    margin:20px;
    border-radius: 20px;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;
    position:  relative;
    display: flex;
    justify-content: center;
    align-items: center;




}
#lol:hover{
    transform:scale(1.2);
    
}
.img{
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;

}
#my{
    display:block;
}
    
.overlay{
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color:azure;

    

}
.overlay:hover{
    opacity: 1;
    /* background-color:rgba(0,0,0,0.6); */


}
.img:hover  #my{
    transform: scale(1.2);
}
.img:hover #lol{
    transform:scale(1.1)
}
.overlay a{
    color:azure;
}
a{
    text-decoration: none;
    color:azure;
    
}
.j{
    margin: 20px;

}
.hkj{
    margin:20px;
}
